<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh8HMwHoQ-qQtsc62_QViYSHF4jn48dY4</string>
	<key>GCM_SENDER_ID</key>
	<string>522332906905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metronomeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>metronome-app-f8d87</string>
	<key>STORAGE_BUCKET</key>
	<string>metronome-app-f8d87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522332906905:ios:986612e9f7f39926449f08</string>
</dict>
</plist>